<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="file:///android_asset/web/js/tex-mml-svg.js" id="MathJax-script"></script>
    <script src="file:///android_asset/web/js/flexible.js"></script>
    <script src="file:///android_asset/web/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="file:///android_asset/web/css/question.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="file:///android_asset/web/js/vue"></script>
    <title>题目预览</title>
</head>

<body>
<audio id="audioContext" hidden></audio>
<div id="about-question" v-cloak>
    <div id="once-question">
        <div class="question-group" id="question-content">
            <div v-if="question.extra_file" class="audio-group">
                <img id="play_btn" class="btn" src="file:///android_asset/web/img/audio_play.png"   @click="clickPlayAudio(question.extra_file)">
                <img id="play_wave" class="wave" src="file:///android_asset/web/img/audio_wave.png">
            </div>
            <p v-if="localReady" class="p-img" id="question_text" v-html="question.question_text"></p>
            <div v-if="question.list">
                <div v-for="(option,index) in question.list" class="list-item p-img">
                    <div class="order">({{index+1}}).</div>
                    <div class="content">
                        <div v-if="option.question_text" v-html="option.question_text"></div>
                        <div v-if="option.text" v-html="option.text"></div>
                        <div v-if="option.options">
                            <div v-for="(value,key) in option.options" class="option-item">
                                <div class="order">{{key}}.</div>
                                <div class="content" v-html="value.trim()"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-img" v-if="question.options">
                <div v-for="(value,key) in question.options">
                    <div v-if="typeof value =='array'||typeof value =='object'" class="list-item">
                        <div class="order">({{key+1}})</div>
                        <div class="content">
                            <div v-for="(subValue,order) in value"
                                 :class="[value.length%3==0||value.length>4 ? 'range3' : 'range2']">
                                <div style="padding-top: 0" class="option-item">
                                    <div class="order">{{order}}.</div>
                                    <div class="content" v-html="subValue.trim()"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else class="option-item">
                        <div class="order">{{key}}.</div>
                        <div class="content" v-html="value.trim()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div v-if="localReady&&showAnswer" class="answer-part2">
        <div class="title">参考答案</div>
        <div id="question-answer">
            <div v-if="question.answer_text" class="answer" v-html="question.answer_text"></div>
            <div v-else-if="question.list" class="answer">
                <div v-for="(option,index) in question.list" v-if="option.answer_text" class="list-item">
                    <div class="order">({{index+1}}).</div>
                    <div class="content" v-html="option.answer_text"></div>
                </div>
            </div>
            <div v-else class="answer">无</div>

        </div>
        <div class="title" style="margin-top: 10px">解析</div>
        <div id="question-explain" v-if="question.explanation_text" class="answer"
             v-html="question.explanation_text"></div>
        <div v-else class="answer">解析待编辑</div>

    </div>
</div>



<script>

    var isPlaying = false;
    var audioContext = document.getElementById("audioContext");
    audioContext.addEventListener("ended", function () {
        $("#play_btn").attr("src", "file:///android_asset/web/img/audio_play.png");
        $("#play_wave").attr("src", "file:///android_asset/web/img/audio_wave.png");
        isPlaying = false;
    });
    audioContext.addEventListener("playing", function () {
        $("#play_btn").attr("src", "file:///android_asset/web/img/audio_pause.png");
        $("#play_wave").attr("src", "file:///android_asset/web/img/audio_wave.gif");
        isPlaying = true
    });


    function onPause() {
        $("#play_btn").attr("src", "file:///android_asset/web/img/audio_play.png");
        $("#play_wave").attr("src", "file:///android_asset/web/img/audio_wave.png");
        audioContext.pause();
        isPlaying = false
    }

    function hideAnswer(){
        qVue.showAnswer=false
    }

    function setQuestion(question) {
        qVue.localReady = true;
        question.explanation_text = decodeURIComponent(question.explanation_text.replace(/\+/g, '%20'));
        question.answer_text = decodeURIComponent(question.answer_text.replace(/\+/g, '%20'));
        qVue.question = question;
        qVue.$nextTick(function () {
            $(".p-img img").each(function () {
                var img = $(this);
                img.attr("height", "");
                img.css("height", "");
            });
            MathJax.typeset();
        });
    }


     function resetQuestion() {
        qVue.localReady = false;
        qVue.question = {};
    }


     function refreshExplain(text) {
        qVue.question.explanation_text=decodeURIComponent(text.replace(/\+/g, '%20'));
    }

    var qVue = new Vue({
        el: "#about-question",
        data: {
            question: {},
            showAnswer:true,
            localReady: false
        },
        methods:{

            clickPlayAudio: function (url) {
                if (isPlaying) {
                    $("#play_btn").attr("src", "file:///android_asset/web/img/audio_play.png");
                    $("#play_wave").attr("src", "file:///android_asset/web/img/audio_wave.png");
                    audioContext.pause();
                    isPlaying = false
                } else {
                    audioContext.src = url;
                    audioContext.play();
                }
            },
        }
    });
</script>

</body>
</html>