html, body{
background-color: transparent;
width: 100vw;
height: 100vh;
outline: none;
}

.audio-group {
    width: 210px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 10px 10px 0;
}

.audio-group .btn {
    height: 35px;
    width: 35px;
    margin-left: 10px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.audio-group .wave {
    height: 45px;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.filling {
    display: inline-block;
    width: 35px;
    text-align: center;
    border-bottom: 1px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51)
}

.question-group {
    line-height: 24px;
    background-color: #FFFFFF;
    color: #333;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
}

.range2 {
    width: 45%;
    margin-right: 3%;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

.range3 {
    width: 30%;
    margin-right: 2%;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

.option-item, .list-item {
    width: 100%;
    display: flex;
    padding: 2px 0;
    font-size: 0;
}

.option-item p, .list-item p {
    margin: 0;
    padding: 0;
}

.list-item .order {
    width: 25px;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    text-align: right;
    font-size: 16px;
}

.list-item .content {
    width: calc(100% - 25px);
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.option-item .order {
    width: 22px;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    text-align: left;
    font-size: 16px;
}

.option-item .content {
    width: calc(100% - 22px);
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

table {
    width: 100% !important;
    border-collapse: collapse;
    box-sizing: border-box;
    border: 1px solid #333;
    text-align: center;
}

tr, td, th {
    width: auto !important;
    text-align: center;
    border: 1px solid #333;
}

html, body {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    overflow: auto;
    background-color: white
}

::-webkit-scrollbar {
    display: none
}

body, p, div, span {
    font-size: 16px;
    word-wrap: break-word;
}

img {
    max-width: 100%;
    object-fit: contain;
    vertical-align: middle;
}





.answer-part2 {
    margin-top: 10px;
    background-color: #fefaf1;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
}

.answer-part2 .title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.answer-part2 .answer {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #333;
    width: 100%;
    margin-top: 6px;
}




